
body{
    background-image:
      url("https://wallpaperplay.com/walls/full/f/3/a/99680.jpg");
}

h1{
    font-family: Bebas;
    color: #00FFFF;
    margin-left: 150px;
    text-align: center;
}

h3{
    margin: 35px 25px;
    font-family: "Arial", Arial, sans-serif;
    color: blue;
    padding: 5px;
    border-left: 2px solid gray;
}

h2, h4, p{
    font-family: "Arial", Arial, sans-serif;
   color: black
    margin: 35px 25px;
    text-align: justify;
}

aside { 
    display: block;
}

p.footer{
    color: white;
    margin: 10px 10px;
    text-align: center;
}

table{
    border: 1px solid gray;
    border-collapse: collapse;
    margin: 35px 135px;
    background-color: #d8d8d8;
}

th, td{
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid gray;
    border-collapse: collapse;
    margin: 35px 25px;
    padding: 8px;
}

td.cviko{
	background-color: cornflowerblue;
    }

td.pred{
     background-color:greenyellow;
    }

td.dni{
    background-color: #d8d8d8;
}

tr:nth-child(even){background-color: #f2f2f2}

address{
    display: block;
    margin: 35px 25px;
    padding: 0px;
}

ul {
    list-style-type: none;
    margin: 0% 20%;
    padding: 0;
    overflow: hidden;
    background-color: #663399;
    border: 1px solid black;
    /*border-top-right-radius: 20px;
    border-top-left-radius: 20px;*/
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;

    transition: all 0.5s ease;
}

li a:hover {
    background-color: #111;
}

.active {
    background-color: #ADFF2F;
}

footer{
    margin: 0% 20%;
    padding: 0;
    border: 1px solid black;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #663399;
}

img.foto{
    float:left;
    width: 120px;
    height: 175px;
    padding: 10px;
}

#main{
    margin: 0% 20%;
    padding: 0;
    border: 1px solid black;
    background-image: url("https://wallpaperplay.com/walls/full/8/5/8/99698.jpg");
    background-size: 1000px 500px;


}

#mainz{
    margin: 0% 20%;
    padding: 0;
    border: 1px solid black;
    background-color: #79bd8b;

}

ul.zivotopis {
    list-style-type: none;
    margin: 0% 20%;
    padding: 0;
    overflow: hidden;
    background-color: #663399;
    border: 1px solid black;
}

   